/Makefile.in linguist-vendored
/aclocal.m4 linguist-vendored
/compile linguist-vendored
/configure linguist-vendored
/depcomp linguist-vendored
/install-sh linguist-vendored
/missing linguist-vendored
/test-driver linguist-vendored
