/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bwping
/bwping-*.tar.gz
/compile
/config.h*
/config.log
/config.status
/configure
/configure~
/depcomp
/install-sh
/missing
/src/.deps/
/src/.dirstamp
/src/*.o
/stamp-h1
/test-driver
/test-suite.log
/tests/*.log
/tests/*.trs
