<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BWPing</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="color-scheme" content="dark light">

    <link href="https://fonts.googleapis.com/css?family=Droid%20Serif%7CUbuntu&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/modernizr-3.6.0.min.js"></script>
</head>

<body id="home">
    <header class="wrapper clearfix">
        <nav id="topnav">
            <div class="menu-toggle"><img src="images/menu.png" width="32" height="32" alt="menu"></div>
            <ul class="srt-menu" id="menu-main-navigation">
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/oleg-derevenetz/bwping/releases/latest/">DOWNLOAD</a></li>
                <li><a href="license.html">LICENSE</a></li>
                <li><a href="#">PROJECT</a>
                    <ul>
                        <li><a href="https://github.com/oleg-derevenetz/bwping">GITHUB</a></li>
                        <li><a href="https://sourceforge.net/projects/bwping">SOURCEFORGE</a></li>
                    </ul>
                </li>
                <li><a href="contacts.html">CONTACTS</a></li>
            </ul>
        </nav>
    </header>
