name: Build

on:
  workflow_call:

permissions: {}

jobs:
  build-linux:
    strategy:
      matrix:
        cc:
        - gcc
        - clang
        mmsg:
        - enable-mmsg
        - disable-mmsg
        bpf:
        - enable-bpf
        - disable-bpf
    name: Build Linux ${{ matrix.cc }} (--${{ matrix.mmsg }} --${{ matrix.bpf }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install autoconf automake
    - name: Run build
      env:
        CC: ${{ matrix.cc }}
      run: |
        autoreconf -f -i -Wall,error
        ./configure --${{ matrix.mmsg }} --${{ matrix.bpf }}
        make "CFLAGS=-Werror -fsanitize=address,undefined"
    - name: Run checks
      run: |
        sudo make check
    - uses: actions/upload-artifact@v6
      if: ${{ failure() }}
      with:
        name: check-result-linux-${{ matrix.cc }}-${{ matrix.mmsg }}-${{ matrix.bpf }}
        path: tests/*.log
  build-freebsd:
    strategy:
      matrix:
        arch:
        - x86-64
        - arm64
        mmsg:
        - enable-mmsg
        - disable-mmsg
    name: Build FreeBSD ${{ matrix.arch }} (--${{ matrix.mmsg }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
    - uses: cross-platform-actions/action@v0.32.0
      with:
        operating_system: freebsd
        architecture: ${{ matrix.arch }}
        version: '14.2'
        shell: bash
        run: |
          #
          # Install dependencies
          #
          sudo pkg install -y autoconf automake
          #
          # Run build
          #
          autoreconf -f -i -Wall,error
          ./configure --${{ matrix.mmsg }}
          make "CFLAGS=-Werror -fsanitize=address,undefined"
          #
          # Configure ICMP rate limit
          #
          sudo sysctl net.inet.icmp.icmplim=1000 net.inet6.icmp6.errppslimit=1000
          #
          # Run checks
          #
          sudo make check
    - uses: actions/upload-artifact@v6
      if: ${{ failure() }}
      with:
        name: check-result-freebsd-${{ matrix.arch }}-${{ matrix.mmsg }}
        path: tests/*.log
  build-solaris:
    strategy:
      matrix:
        arch:
        - x86_64
        mmsg:
        - enable-mmsg
        - disable-mmsg
    name: Build Solaris ${{ matrix.arch }} (--${{ matrix.mmsg }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
    - uses: vmactions/solaris-vm@v1
      with:
        arch: ${{ matrix.arch }}
        release: 11.4-gcc
        sync: nfs
        usesh: true
        prepare: |
          #
          # Install dependencies
          #
          sudo /opt/csw/bin/pkgutil -U
          sudo /opt/csw/bin/pkgutil -y -i autoconf automake
        run: |
          #
          # Run build
          #
          autoreconf -f -i -Wall,error
          ./configure --${{ matrix.mmsg }}
          make "CFLAGS=-Werror -fsanitize=address,undefined"
          #
          # Run checks
          #
          sudo make check
    - uses: actions/upload-artifact@v6
      if: ${{ failure() }}
      with:
        name: check-result-solaris-${{ matrix.arch }}-${{ matrix.mmsg }}
        path: tests/*.log
  build-macos:
    name: Build macOS
    runs-on: macos-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        brew update
        brew install autoconf automake
    - name: Run build
      run: |
        autoreconf -f -i -Wall,error
        ./configure
        make "CFLAGS=-Werror -fsanitize=address,undefined"
    - name: Configure ICMP rate limit
      run: |
        sudo sysctl net.inet6.icmp6.errppslimit=1000
    - name: Run checks
      run: |
        sudo make check
    - uses: actions/upload-artifact@v6
      if: ${{ failure() }}
      with:
        name: check-result-macos
        path: tests/*.log
  build-cygwin:
    name: Build Cygwin
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: cmd
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        choco.exe install cygwin cyg-get -y && ^
        cyg-get.bat autoconf automake make gcc-core git
    - name: Fix Git settings
      run: |
        C:\tools\cygwin\bin\bash.exe -l -eo pipefail -c ^"^
            cd ""$GITHUB_WORKSPACE""; ^
            git config --global --add safe.directory ""$(pwd)""^"
    - name: Fix line endings
      run: |
        C:\tools\cygwin\bin\bash.exe -l -eo pipefail -c ^"^
            cd ""$GITHUB_WORKSPACE""; ^
            git ls-files -z ^| xargs -0 rm; ^
            git checkout -f .^"
    - name: Run build
      run: |
        C:\tools\cygwin\bin\bash.exe -l -eo pipefail -c ^"^
            cd ""$GITHUB_WORKSPACE""; ^
            autoreconf -f -i -Wall,error; ^
            ./configure; ^
            make ""CFLAGS=-Werror""^"
    - name: Run checks
      run: |
        C:\tools\cygwin\bin\bash.exe -l -eo pipefail -c ^"^
            cd ""$GITHUB_WORKSPACE""; ^
            make check; ^
            make distcheck^"
    - uses: actions/upload-artifact@v6
      if: ${{ failure() }}
      with:
        name: check-result-cygwin
        path: tests/*.log
