name: CodeChecker

on:
  workflow_call:

permissions: {}

jobs:
  codechecker:
    strategy:
      matrix:
        mmsg:
        - enable-mmsg
        - disable-mmsg
        bpf:
        - enable-bpf
        - disable-bpf
    name: CodeChecker (--${{ matrix.mmsg }} --${{ matrix.bpf }})
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install autoconf automake bear clang-tools-18
        python -m venv ~/.python-venv
        ~/.python-venv/bin/pip install codechecker
    - name: Prepare compile_commands.json
      run: |
        autoreconf -f -i -Wall,error
        ./configure --${{ matrix.mmsg }} --${{ matrix.bpf }}
        bear -- make "CFLAGS=-std=c11 -Werror"
    - name: Analyze
      run: |
        export PATH=$HOME/.python-venv/bin:$PATH
        CodeChecker analyze --analyzers clangsa --ctu-all --ctu-ast-mode load-from-pch --output codechecker-output compile_commands.json
    - name: Display results
      run: |
        export PATH=$HOME/.python-venv/bin:$PATH
        CodeChecker parse --print-steps codechecker-output
