name: ShellCheck Analysis

on:
  push:
    branches:
    - master

  pull_request:
    branches:
    - master

  schedule:
  - cron: '0 14 * * 6'

jobs:
  shellcheck:
    name: ShellCheck Analysis
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install additional packages
      run: |
        sudo apt-get -y update
        sudo apt-get -y install shellcheck

    - name: Perform ShellCheck analysis
      run: |
        shellcheck tests/*
