name: "SonarCloud Analysis"

on:
  push:
    branches:
    - master

  schedule:
  - cron: "0 15 * * 6"

jobs:
  sonarcloud:
    name: "SonarCloud Analysis"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    env:
      SONAR_SCANNER_VERSION: 4.5.0.2216

    steps:
    - name: "Checkout repository"
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: "Install additional packages"
      run: |
        sudo apt-get -y update
        sudo apt-get -y install autoconf automake

    - name: "Initialize SonarCloud"
      run: |
        mkdir -p "$HOME/SonarCloud"
        wget -P "$HOME/SonarCloud" "https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip"
        wget -P "$HOME/SonarCloud" "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip"
        unzip "$HOME/SonarCloud/build-wrapper-linux-x86.zip" -d "$HOME/SonarCloud"
        unzip "$HOME/SonarCloud/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip" -d "$HOME/SonarCloud"

    - name: "Run build via SonarCloud wrapper"
      run: |
        autoreconf -f -i -Wall,error
        ./configure
        "$HOME/SonarCloud/build-wrapper-linux-x86/build-wrapper-linux-x86-64" --out-dir .bw-output make

    - name: "Perform SonarCloud analysis"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        "$HOME/SonarCloud/sonar-scanner-$SONAR_SCANNER_VERSION-linux/bin/sonar-scanner" -Dsonar.projectKey=oleg-derevenetz_bwping \
                                                                                        -Dsonar.projectName=BWPing \
                                                                                        -Dsonar.organization=oleg-derevenetz-github \
                                                                                        -Dsonar.sources=. \
                                                                                        -Dsonar.sourceEncoding=UTF-8 \
                                                                                        -Dsonar.cfamily.build-wrapper-output=.bw-output \
                                                                                        -Dsonar.cfamily.cache.enabled=false \
                                                                                        -Dsonar.cfamily.threads=1 \
                                                                                        -Dsonar.host.url=https://sonarcloud.io
