name: SonarCloud Analyzer

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

permissions: {}

jobs:
  sonarcloud:
    name: SonarCloud Analyzer
    if: >-
      ${{
          github.repository == 'oleg-derevenetz/bwping'
          && ( github.event_name == 'push' || ( github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository ) )
          && github.actor != 'dependabot[bot]'
       }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install autoconf automake
    - uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v6
      env:
        SONAR_HOST_URL: https://sonarcloud.io
    - name: Run build via SonarCloud wrapper
      run: |
        autoreconf -f -i -Wall,error
        ./configure --enable-mmsg --enable-bpf
        build-wrapper-linux-x86-64 --out-dir .bw-output make "CFLAGS=-std=c11 -Werror"
    - uses: SonarSource/sonarqube-scan-action@v6
      with:
        args: >-
          -Dsonar.cfamily.compile-commands=.bw-output/compile_commands.json
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: https://sonarcloud.io
